#      ____             ___          __  _ ______      __
#     / __ \_________  /   |  ____  / /_(_)_  __/___ _/ /_
#    / /_/ / ___/ __ \/ /| | / __ \/ __/ / / / / __ `/ __ \
#   / ____/ /  / /_/ / ___ |/ / / / /_/ / / / / /_/ / /_/ /
#  /_/   /_/   \____/_/  |_/_/ /_/\__/_/ /_/  \__,_/_.___/
#  config.yml (Bukkit/Spigot version)

# This section doesn't really need to be changed,
# but a few people seem not to like my design for a custom update-notification message...
# Well... that's basically the whole reason for this one here. xd
updater:
  enabled: true
  period: 10000
  auto-update-config: true
  updated:
    - '&8[&2PAT &7| &2Bukkit&8] &aYou are using the newest version! ^^'
  outdated:
    - '&8[&4PAT &7| &4Bukkit&8] &cThere is a new version available! (%newest_version%)'
    - '&8[&4PAT &7| &4Bukkit&8] &cYou are still using the %current_version%.'
    - '&8[&4PAT &7| &4Bukkit&8] &cGet the newest version here:'
    - '&8[&4PAT &7| &4Bukkit&8] &ehttps://www.rayzs.de/products/proantitab/page'

# (!) Warning: If you have a Bungeecord/Velocity server, please enable this option!
# (!) How to use it properly can be seen on the following page:
# (!) https://www.spigotmc.org/resources/113172/field?field=documentation
# (!) At the first section ("How to setup") are spoilers with different server scenarios.
# (!) Open the spoiler that matches your server scenario and follow the instructed steps in there.
# Enabling this allows the Bungeecord/Velocity and backend servers to communicate with each other.
# Information that are being communicated with are for example settings of certain features, but also important
# data about groups, commands and much more, that are very important for the tab-completion & suggestions!
# Affected features that are being synced with, or overwritten by the proxy, are marked as ">> HTP".
handle-through-proxy:
  enabled: false
  token: insert-token-of-proxy-here

#>> HTP
# This is a very necessary feature if you have way too many commands to block and instead decide
# to whitelist specific commands.
# Enabling this will disable ALL commands except for those that are in the (group-)list.
turn-blacklist-to-whitelist: true

# Here you can customize the server version that is displayed on a ping. (The text at the player-count)
# (!) Warning: It's required to use Paper or Purpur to use this feature!
# (!) Supported server versions: 1.12.2 - latest
custom-protocol-ping:
  enabled: false

  # Normally it would only display when someone pings the server with the wrong version.
  # Enabling this will always display the protocol and replace it with the normal player count.
  always-show: false

  # This number here determines the outcome for the %online_extended% placeholder.
  # It's the current amount of players increased by this number.
  # For example: 5/20 becomes 6/20
  extend-online-count: 1
  # true: Use new calculated online-count (%online_extended%) as max-players count.
  # false: Use the default max-players count.
  use-as-maxplayers: false

  # Enabling this option hides the list of players on your server,
  # when you hover over the player count.
  hide-players: true

  # The displayed protocol message
  # Available placeholders:
  # %online%            - current online player count
  # %online_extended%   - manipulated online player count
  # %max%               - max player count
  protocol: '&f&lProAntiTab &7(&a%online%&7/&c%max%&7)'

#>> HTP (Sync)
# This feature allows you to create your own 'Unknown command.' message.
# It is very helpful considering the fact you might have to set the same message
# for if a command is blocked or really doesn't exist. ^^
# Good to hide real and not-real commands from your players.
custom-unknown-command:
  enabled: false
  message:
    - '&cThis command does not exist!'

#>> HTP (Overwritten)
# This setting decides if a listed command should be cancelled from execution or not.
# As you can see it's enabled by default, which is also why every command that is listed
# is being blocked entirely.
cancel-blocked-commands:
  enabled: true
  base-command-message:
    - '%prefix% &cThis command &8(&4%command%&8) &cis blocked!'
  sub-command-message:
    - '&cCommand &8(&4%command%&8) &cwith the provided sub-argument is not allowed!'

#>> HTP (Overwritten)
# Here you can customize your own fake '/plugins' command.
custom-plugins:
  enabled: true
  commands:
    - pl
    - plugins
    - bukkit:pl
    - bukkit:plugins
  message:
    - '&fPlugins (0):'

#>> HTP (Overwritten)
# Here you can customize your own fake '/version' command.
custom-version:
  enabled: true
  commands:
    - version
    - ver
    - icanhasbukkit
    - bukkit:ver
    - bukkit:version
  message:
    - '&fThis server is running CraftBukkit version git-NasaSpigot-294 (MC: X)'

#>> HTP (Overwritten)
# Here you can disable all namespace commands.
# Namespace commands are commands like plugin:command (e.g: essentials:warp)
# You can bypass this restriction with the proantitab.namespace permission.
block-namespace-commands:
  enabled: false

# Patches a small exploit which causes the server to lag.
# Due to the fact that PAT interacts directly with Tab-Completions and their packets,
# it would be a waste not to provide some simple patches like these. ^^
patch-exploits:
  enabled: true
  alert-message: '%prefix% &4%player% &ctried to crash/lag the server.'
  kick-message: '&cFailed to read packet! Please reconnect.'

#>> HTP (Overwritten)
# This feature allows you to customize your server brand you see when you press F3.
# Normally there is something like 'Purpur', or 'Spigot'.
# With this feature, you are able to change and even animate it.
custom-server-brand:
  enabled: false

  # Determines the speed at which the animation goes.
  # Set this to -1 to disable the animation.
  # Disabling the animation will only display
  # the first brand of this list.
  # Warning:
  # By disabling the animation, you also disable the
  # automatic update of information.
  # That means that placeholders won't update unless the
  # player rejoins the server.
  repeat-delay: 3

  # This is the list of the animation
  # Possible placeholders:
  # %player%        - name of the player
  # %displayname%   - display name of the player
  # %world%         - name of the world where the player is
  # and the other placeholders from PlaceholderAPI.
  brands:
    - '&f&lP&froAntiTab |'
    - '&fP&lr&foAntiTab /'
    - '&fPr&lo&fAntiTab -'
    - '&fPro&lA&fntiTab |'
    - '&fProA&ln&ftiTab \'
    - '&fProAn&lt&fiTab |'
    - '&fProAnt&li&fTab /'
    - '&fProAnti&lT&fab -'
    - '&fProAnti&lT&fab \'
    - '&fProAntiT&la&fb |'
    - '&fProAntiTa&lb&f /'
    - '&fProAntiTab -'
    - '&fProAntiTab \'

# ------------------------------------------------------------------------------
#       __  ___
#      /  |/  /__  ______________ _____ ____  _____
#     / /|_/ / _ \/ ___/ ___/ __ `/ __ `/ _ \/ ___/
#    / /  / /  __(__  |__  ) /_/ / /_/ /  __(__  )
#   /_/  /_/\___/____/____/\__,_/\__, /\___/____/
#                               /____/
# Here are all the remaining messages for the InGame commands.
# Have fun editing them to your liking! ^^
# Remember: PlaceholderAPI & MiniMessage works on all these messages! ^^
# Here are a few other placeholders that can be used in any message here:
# %prefix%            - the plugin prefix
# %executor%          - the name of the executor (command specified)
# %newest_version%    - the version name of the latest plugin update
# %current_version%   - the version name of the plugin that is installed right now

prefix: '&8[&4ProAntiTab&8]'
only-for-proxy: '&cThis command works on Bungeecord/Velocity servers only!'
no-permissions: '&cYou are not allowed to execute this command! Missing permission: &4%permission%'
command-failed: '&cFailed to execute this command! Use "/pat" to see all available commands.'

update-permissions:
  all-players: '&aUpdated permissions!'
  specific-player: '&aUpdated %target%''s permissions!'
  player-not-online: '&c%target% is not online!'

post-debug:
  success: '&aSuccessfully uploaded debug logs: &e%link% &8(<click:open_url:%link%><gray>CLICK</click>&8)'
  failed: '&cFailed to upload debug logs!'

reload:
  loading: '&eReloading all configuration files...'
  done: '&aSuccessfully reloaded all configuration files!'

perms-check:
  message: "&7All of &e%player%'s &7PAT-related permission: &e%permissions%"
  player-is-missing: "&cPlease specify the player whose permission you want to check."
  player-not-online: "&c%player% is not online!"

help:
  - '&7Available commands are: &f/%label%&7... &8[&fBUKKIT&8]'
  - '&7Format: &8<optional> (required)'
  - '&f  reload &7to reload the plugin'
  - '&f  notify &7to get alerted'
  - '&f  info &7to get a few information'
  - '&f  postdebug &7to post the PAT logs'
  - '&f  update <player> &7to update player(s) permissions'
  - "&f  perms <player> &7to check a player's permissions"
  - '&f  add/rem (command) &8<group> &7to manage the list'
  - '&f  clear &8<group> &7to clear the list'
  - '&f  creategroup (group) &7to create a group'
  - '&f  deletegroup (group) &7to delete a group'
  - '&f  setpriority (group) (priority) &7to set the priority'
  - '&f  list &8(group) &7to see all listed commands'
  - '&f  listgroups &7List all groups'
  - '&f  listpriorities &7to list all group priorities'

info:
  version:
    updated: '&aUpdated'
    outdated: '&cOutdated (%newest_version%)'

  proxy-sync:
    time: '&e%time%'
    disabled: '&cDisabled!'

  message:
    - '&7Necessary information about &fPAT&8:'
    - '&7  Version: &e%current_version%'
    - '&7  Status: %version_status%'
    - '&7  Last sync with proxy: %sync_time%'
    - '&7  Proxy sync-token: &e%token%'
    - '&7  Proxy-received server name: &e%sync_server_name%'

notification:
  enabled: '&aEnabled notifications'
  disabled: '&cDisabled notifications'
  alert:
    - '&8[&4ALERT&8] &c%player% &8(&7world: &e%world%&8) &ctried to execute the following blocked command: &4%command%'

blacklist:
  clear: '&aList has been cleared!'
  clear-confirmation: '&4Warning! &7This command will &cclear the entire list&7! &7Repeat the &esame command &7to confirm this action.'

  list:
    message: '&7Listed commands (&f%size%&7)&8: &f%commands%'
    splitter: '&7, '
    command: '&f%command%'

  add:
    success: '&aSuccessfully added %command% to the list!'
    failed: '&c%command% is already in the list!'

  remove:
    success: '&aSuccessfully removed %command% from the list!'
    failed: '&c%command% is not listed!'

group:
  create: '&aGroup %group% has been created!'
  already-exist: '&cGroup %group% already exists!'
  does-not-exist: '&cGroup %group% does not exist!'

  delete: '&cGroup %group% has been deleted!'
  delete-confirmation: '&4Warning! &7This command will &cdelete the group with the entire list&7 of this group! &7Repeat the &esame command &7to confirm this action.'

  clear: '&aList of group %group% has been cleared!'
  clear-confirmation: '&4Warning! &7This command will &cclear the entire list&7 of this group! &7Repeat the &esame command &7to confirm this action.'

  priority:
    success: '&aSuccessfully set the priority of group &e%group% &ato &e%priority%&a!'
    failed: '&cInvalid priority! Please choose a number which is greater than 0.'

  list:
    message: '&7Listed commands of group %group% (&f%size%&7)&8: &f%commands%'
    splitter: '&7, '
    command: '&f%command%'

  list-groups:
    message: '&7All groups (&f%size%&7)&8: &f%groups%'
    splitter: '&7, '
    command: '&f%group%'

  list-priorities:
    message: '&7List of all group priorities (&f%size%&7)&8: \n&f%groups%'
    splitter: '\n'
    group: '&8- &e%priority%&8: &f%group%'

  add:
    success: '&aSuccessfully added %command% to the list of group %group%!'
    failed: '&c%command% is already in the list of group %group%!'

  remove:
    success: '&aSuccessfully removed %command% from the list of group %group%!'
    failed: '&c%command% is not listed in the group %group%!'